@model GalaxyComputersASP.Models.ProductOverview

@{
    ViewBag.Title = "Xóa sản phẩm";
}

<div class="container">
    <h2>Xóa sản phẩm</h2>

    <h3>Bạn có chắc chắn muốn xóa sản phẩm này?</h3>
    <div>
        <h4>Product</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Product.PublishDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Product.PublishDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Product.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Product.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Product.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Product.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Product.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Product.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Product.CategoryID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Product.ManufacturerID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Manufacturer.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Product.ImagePath)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Product.ImagePath)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Product.Views)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Product.Views)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Product.Sales)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Product.Sales)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Xóa" />
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>