@model GalaxyComputersASP.Models.ProductOverview

@{
    ViewBag.Title = "Xóa sản phẩm";
}

<div class="container main-body">
    <h2>Xóa sản phẩm</h2>

    <h3>Bạn có chắc chắn muốn xóa sản phẩm này?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ProductData.PublishDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductData.PublishDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProductData.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductData.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProductData.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductData.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProductData.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductData.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProductData.CategoryID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductCategory.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProductData.ManufacturerID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductManufacturer.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProductData.ImagePath)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductData.ImagePath)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProductData.Views)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductData.Views)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProductData.Sales)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductData.Sales)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group col-md-offset-2">
                <input type="submit" value="Xóa" />
                <a href='@Url.Action("Manage", "Products")' class="btn-blank">Quay về</a>
            </div>
        }
    </div>
</div>

<script>
    
    $('#nav-item-4').addClass('active');
</script>
