@model GalaxyComputersASP.Models.ProductOverview

@{
    ViewBag.Title = "Sửa sản phẩm";
}

<div class="container main-body">
    <h2>Edit</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Product</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ProductData.ID)

            <div class="form-group">
                @Html.LabelFor(model => model.ProductData.PublishDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProductData.PublishDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProductData.PublishDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProductData.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProductData.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProductData.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProductData.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    <div class="input-group">
                        @Html.EditorFor(model => model.ProductData.Price, new { htmlAttributes = new { @class = "form-control", aria_describedby = "basic-addon2" } })
                        <span class="input-group-addon" id="basic-addon2">VND</span>
                    </div>
                    @Html.ValidationMessageFor(model => model.ProductData.Price, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProductData.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.ProductData.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProductData.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProductData.CategoryID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.DropDownListFor(model => model.ProductData.CategoryID, (SelectList)ViewBag.CategoriesList, new { @class = "form-control" })
                    <button type="button" id="btnCreateCategory">Thêm danh mục</button>
                    @Html.ValidationMessageFor(model => model.ProductData.Category, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProductData.ManufacturerID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.DropDownListFor(model => model.ProductData.ManufacturerID, (SelectList)ViewBag.ManufacturersList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ProductData.Manufacturer, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProductData.ImagePath, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <img src="@Url.Content(Model.ProductData.ImagePath)" id="imgPreview" class="image-preview" alt="Image" />
                    <form enctype="multipart/form-data">
                        <input type="file" name="Image" />
                    </form>
                    @Html.HiddenFor(model => model.ProductData.ImagePath)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProductData.Views, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProductData.Views, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProductData.Views, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProductData.Sales, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProductData.Sales, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProductData.Sales, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Lưu" />
                    <a href='@Url.Action("Manage", "Products")' class="btn-blank">Quay về</a>
                </div>
            </div>
        </div>
    }
</div>

<div class="modal fade" id="modalCreateCategory">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Thêm danh mục</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" id="formCreateCategory">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProductCategory.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ProductCategory.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ProductCategory.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-blank" data-dismiss="modal">Đóng</button>
                    <button type="button" id="submitCreateCategory">Thêm</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="modalCreateCategoryResult">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Thêm danh mục</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" id="result">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-blank" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script src="/Scripts/tinymce/tinymce.min.js"></script>
<script>
    $('#submitCreateCategory').data('loading-text', 'Đang thực hiện...');
    $('#btnCreateCategory').click(function () {
        $('#modalCreateCategory').modal();
    });
    $('#submitCreateCategory').click(function (e) {
        e.preventDefault();
        var btn = $(this);
        btn.button('loading');
        $.ajax({
            url: '@Url.Action("DirectedCreate", "Categories")',
            type: 'POST',
            data: {
                'Category.Name': $('#Category_Name').val()
            },
            success: function (result) {
                $('#modalCreateCategory').modal('hide');
                if (result.success == false) {
                    $('#result').html(result.message);
                } else {
                    $('#Product_CategoryID').append($('<option>', {
                        value: result.id,
                        text: result.name
                    }));

                    $('#Product_CategoryID').val(result.id);
                    $('#result').html('Thêm danh mục thành công!<br/>');
                }
                btn.button('reset');
                $('#modalCreateCategoryResult').modal();
            }
        });
    });

    $('input[type=file]').on('change', function (e) {
        var files = e.target.files;
        var data = new FormData();
        if (files.length > 0) {
            data.append("UploadedImage", files[0]);
        }
        $.ajax({
            url: '@Url.Action("UploadImage")',
            type: "POST",             // Type of request to be send, called as method
            data: data, // Data sent to server, a set of key/value pairs (i.e. form fields and values)
            contentType: false,       // The content type used when sending data to the server.
            cache: false,             // To unable request pages to be cached
            processData: false,        // To send DOMDocument or non processed data file it is set to false
            success: function (result) {
                if (result.success) {
                    $('#ProductData_ImagePath').val(result.path);
                    $('#imgPreview').attr('src', result.path);
                } else {
                    $('#result').html(result.message);
                    $('#modalCreateCategoryResult').modal();
                }
            }
        });
    });

    tinymce.init({
        selector: "textarea",
        plugins: [
            "advlist autolink lists link image charmap print preview anchor",
            "searchreplace visualblocks code fullscreen",
            "insertdatetime media table contextmenu paste"
        ],
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
    });
</script>