@model GalaxyComputersASP.Models.PartialIndexViewModel

@{
    ViewBag.Title = "Sản phẩm";
}

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2><b>Sản phẩm</b></h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container main-body">
    <div class="form-inline">
        <div class="form-group">
            <label for="sortItem">Số sản phẩm 1 trang: </label>
            <select class="form-control" id="itemsPerPage" name="itemsPerPage">
                <option value="5">5</option>
                <option selected value="10">10</option>
            </select>
        </div> |
        <div class="form-group">
            <label for="sortItem">Sắp xếp theo: </label>
            <select class="form-control" id="sortItem" name="sortItem">
                <option value="-1">Chọn</option>
                <option value="0">Tên</option>
                <option value="1">Giá</option>
            </select>
        </div> |
        <div class="form-group">
            <label for="sortOrder">Thứ tự: </label>
            <select class="form-control" id="sortOrder" name="sortOrder">
                <option value="0">Tăng dần</option>
                <option value="1">Giảm dần</option>
            </select> |
        </div>
        <button type="button" id="btnUpdate">Cập nhật</button>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <label for="searchQuery">Từ khóa: </label>
            <input type="text" class="form-control" id="searchQuery" placeholder="Từ khóa">
        </div>
        <button type="button" id="btnSearch">Tìm</button>
        <button type="button" id="btnShowAdvanced">Nâng cao</button>
    </div>
    <div class="form-inline" id="advancedSearch">
        <div class="form-group">
            <label for="priceRange">Tầm giá: </label>
            <input id="priceRange" type="text" class="span2" value="" data-slider-min="@Model.MinPrice" data-slider-max="@Model.MaxPrice" data-slider-step="100000" data-slider-value="[@Model.MinPrice,@Model.MaxPrice]" />
        </div>
        <div class="form-group">
            <label for="manufacturer">Nhà sản xuất: </label>
            <select class="form-control" id="manufacturer" name="manufacturer">
                <option selected value="">Chọn</option>
                @foreach (var manufacturer in Model.Manufacturers)
                {
                    <option value="@manufacturer.Name">@manufacturer.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="startDate">Từ ngày: </label>
            <input id="startDate" type="text" class="datepicker" value="" data-value="01/01/2000" />
        </div>
        <div class="form-group">
            <label for="endDate">Đến ngày: </label>
            <input id="endDate" type="text" class="datepicker" value="" data-value="17/06/2015" />
        </div>
    </div>
 
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>

    <div id="products-view">
        @Html.Partial("~/Views/Products/PartialIndex.cshtml", Model)
    </div>
</div>

<script>
    var startDate, endDate;
    $(document).ready(function () {
        $('.spinner').hide();
        $('#advancedSearch').hide();
        $('#btnShowAdvanced').click(function () {
            $('#advancedSearch').slideToggle();
        });
        $("#priceRange").slider({
            formatter: function (value) {
                return parseFloat(value[0]).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,') + ' đến '
                    + parseFloat(value[1]).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            }
        });
        startDate = $('#startDate').pickadate({
            formatSubmit: 'dd/mm/yyyy'
        }).pickadate('picker');
        endDate = $('#endDate').pickadate({
            formatSubmit: 'dd/mm/yyyy'
        }).pickadate('picker');
    })
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
    
    $('#btnUpdate').click(function (e) {
        var query = $('#searchQuery').val();
        var start = startDate.get('select', 'mm dd yyyy');
        var end = endDate.get('select', 'mm dd yyyy');
        $('#products-view').hide();
        $('.spinner').show();
        var catId = getParameterByName('CategoryID');
        var action = "PartialIndex";
        if (catId != null) {
            action += "?CategoryID=" + catId + "&ItemsPerPage=" + $('#itemsPerPage').val() + "&q=" + query;
        } else {
            action += "?q=" + query;
        }
        var prices = $('#priceRange').val().split(',');
        action += "&MinPrice=" + prices[0] + "&MaxPrice=" + prices[1];
        if ($('#manufacturer').val() != '') {
            action += "&Manu=" + $('#manufacturer').val();
        }
        action += "&Start=" + start + "&End=" + end;
        $.ajax({
            url: '/Products/' + action,
            type: 'POST',
            data: {
                'sortItem': $('#sortItem').val(),
                'sortOrder': $('#sortOrder').val()
            },
            success: function (result) {
                $('#products-view').show();
                $('.spinner').hide();
                $('#products-view').html(result);
            }
        });
    });

    $('#btnSearch').click(function (e) {
        var query = $('#searchQuery').val();
        var start = startDate.get('select', 'mm dd yyyy');
        var end = endDate.get('select', 'mm dd yyyy');
        $('#products-view').hide();
        $('.spinner').show();
        var catId = getParameterByName('CategoryID');
        var action = "PartialIndex";
        if (catId != null) {
            action += "?CategoryID=" + catId + "&ItemsPerPage=" + $('#itemsPerPage').val() + "&q=" + query;
        } else {
            action += "?q=" + query;
        }
        var prices = $('#priceRange').val().split(',');
        action += "&MinPrice=" + prices[0] + "&MaxPrice=" + prices[1];
        if ($('#manufacturer').val() != '') {
            action += "&Manu=" + $('#manufacturer').val();
        }
        action += "&Start=" + start + "&End=" + end;
        $.ajax({
            url: '/Products/' + action,
            type: 'POST',
            data: {
                'sortItem': $('#sortItem').val(),
                'sortOrder': $('#sortOrder').val()
            },
            success: function (result) {
                $('#products-view').show();
                $('.spinner').hide();
                $('#products-view').html(result);
            }
        });
    });
</script>

<script>
    
    $('#nav-item-2').addClass('active');
</script>
