@model GalaxyComputersASP.Models.PartialIndexViewModel

@{
    var count = 0;
}

<ul class="pagination">
    @{
        for (var i = 1; i <= Model.TotalPages; i++)
        {
            if (i == Model.CurrentPage)
            {
                <li class="active"><a href="#">@i</a></li>
            }
            else
            {
                <li><a href="#">@i</a></li>
            }
        }
    }
</ul>

<div class="single-product-area">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.Products)
            {
                if (count++ % 4 == 0)
                {
                    @:</div>
                    @:<div class="row">
                }
                <div class="col-md-3 col-sm-6">
                    <div class="single-product">
                        <div class="product-f-image">
                            <img src=@Html.DisplayFor(modelItem => item.ImagePath) class="img-rounded img-responsive img-product">
                            <div class="product-hover">
                                <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng</a>
                                <a href=@Url.Action("Details/" + item.ID, "Products") class="view-details-link"><i class="fa fa-search"></i> Chi tiết</a>
                            </div>
                        </div>

                        <h2><a href=@Url.Action("Details/" + item.ID, "Products")>@Html.DisplayFor(modelItem => item.Name)</a></h2>

                        <div class="product-carousel-price">
                            <ins>@Html.DisplayFor(modelItem => item.Price)</ins>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<ul class="pagination">
    @{
        for (var i = 1; i <= Model.TotalPages; i++)
        {
            if (i == Model.CurrentPage)
            {
                <li class="active"><a href="#">@i</a></li>
            }
            else
            {
                <li><a href="#">@i</a></li>
            }
        }
    }
</ul>

<script>
    $('.pagination li a').click(function (e) {
        e.preventDefault();
        $('#products-view').hide();
        $('.spinner').show();
        var catId = getParameterByName('CategoryID');
        var action = "PartialIndex";
        if (catId != null) {
            action += "?CategoryID=" + catId + "&ItemsPerPage=" + @Model.ItemsPerPage + "&Page=" + $(this).html();
        }
        $.ajax({
            url: '/Products/' + action,
            type: 'POST',
            data: {
                'sortItem': $('#sortItem').val(),
                'sortOrder': $('#sortOrder').val()
            },
            success: function (result) {
                $('#products-view').show();
                $('.spinner').hide();
                $('#products-view').html(result);
            }
        })
    });
</script>