@model GalaxyComputersASP.Models.OrdersViewModel

@{
    ViewBag.Title = "Xem đơn hàng";
}

<div class="container main-body">
    <h2>Danh sách đơn hàng</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    STT
                </th>
                <th>
                    Mã đơn hàng
                </th>
                <th>
                    Tên người khởi tạo
                </th>
                <th>
                    Ngày tạo
                </th>
                <th>
                    Số điện thoại
                </th>
                <th>
                    Địa chỉ
                </th>
                <th>
                    Đơn giá
                </th>
                <th>
                    Trạng thái
                </th>
            </tr>
        </thead>
        <tbody>
            @{var i = 1;}
            @foreach (var order in Model.Orders)
            {
                <tr class="view-order-details" order-id="@order.ID">
                    <td>
                        @i
                    </td>
                    <td>
                        @order.ID
                    </td>
                    <td>
                        @order.LastName @order.FirstName
                    </td>
                    <td>
                        @order.DateCreated
                    </td>
                    <td>
                        @order.PhoneNumber
                    </td>
                    <td>
                        @order.Address
                    </td>
                    <td class="orderPrice">
                        @Model.Prices.ElementAt(i - 1)
                    </td>
                    @if (order.Status == 0)
                    {
                        <td class="danger">Chưa giao</td>
                    }
                    else if (order.Status == 1)
                    {
                        <td class="warning">Đang giao</td>
                    }
                    else
                    {
                        <td class="success">Hoàn thành</td>
                    }
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="4">
                        <div class="details" id="@order.ID">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Tên sản phẩm</th>
                                        <th>Đơn giá</th>
                                        <th>Số lượng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.OrderItems.ElementAt(i - 1))
                                    {
                                        <tr>
                                            <td>@item.Product.Name</td>
                                            <td class="orderPrice">@item.Product.Price</td>
                                            <td><span class="badge">@item.Quantity</span></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td colspan="2"></td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('.orderPrice').each(function () {
            $(this).html(formatPrice($(this).html()) + ' VNĐ');
        });
        $('.details').hide();
        $('.view-order-details').click(function () {
            var id = $(this).attr('order-id');
            $('#' + id).slideToggle('slow');
        });
    });
</script>

