@model GalaxyComputersASP.Models.Manufacturer

@{
    ViewBag.Title = "Delete";
}

<div class="container main-body">
    <h2>Xóa thông tin nhà sản xuất</h2>

    <h3>Bạn có chắc muốn xóa thông tin nhà sản xuất này?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.WebPage)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WebPage)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ImagePath)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ImagePath)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Country)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Country)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateFounded)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateFounded)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group col-md-offset-2">
                <input type="submit" value="Xóa" />
                <a href='@Url.Action("Manage", "Products")' class="btn-blank">Quay về</a>
            </div>
        }
    </div>
</div>